.buttonContainer {
  position: relative;
}

.AccessProvider {
  display: flex;
  align-items: stretch;
}

.GetAccess {
  padding: 1.6vw 3vw;
  font-weight: bold;
  font-size: 22px;
  border-radius: 16px;
  background-color: var(--palette-accent);
  color: var(--palette-white);
  background: linear-gradient(
    180deg,
    rgba(112, 154, 249, 1) 0%,
    rgba(95, 112, 234, 1) 100%
  );
  cursor: pointer;
}

.Loading {
  cursor: progress;
}

ul {
  margin: 4px;
  padding: 0;
  margin-left: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
}

li span {
  color: var(--palette-gray);
}

li:last-child {
  margin-bottom: 0;
}

ul span {
  font-size: 18px;
  margin-left: 4px;
  max-width: 15vh;
}

ul img {
  fill: var(--palette-gray);
}
